.book {
  width: 100%;
  min-height: 100vh;
  background: #f9f9f7;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.top h1 {
  font-size: 70px;
  margin-bottom: 15px;
}

.top p {
  width: 500px;
  text-align: center;
  color: #666;
  line-height: 1.6;
}

.form {
  width: 750px;
  background: #fff;
  margin-top: 50px;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  z-index: 2;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.inputBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputBox label {
  font-weight: 600;
}

.inputBox input,
.inputBox select {
  height: 55px;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 0 20px;
  outline: none;
}

.full {
  margin-bottom: 25px;
}

.form button {
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 30px;
  background: #ad343e;
  color: white;
  cursor: pointer;
}

.map {
  margin-top: -80px;
  height: 500px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ec/OpenStreetMap.png");
  background-size: cover;
  background-position: center;
}

.map img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
}